<% if(is_owned){ %>
<button type="button" data-id='<%= perk.get('id') %>' class="close perk-destroyer" aria-hidden="true">×</button>
<% } %>
<div class="perk perk-<%=perk.get('id')%>">
	<h3>$<%= perk.get('cost') %></h3>
	<img class='perk-img' src='<%= perk.get('img_src') %>'>
	<h3><%= perk.get('title') %></h3>
	<%= perk.get('description') %><br>
	<i><%= perk.get('available') %> available</i>
</div>
<br><br>
<hr>
<script>
	$('.perk.perk-<%=perk.get('id')%>').click(function(){
		$('button[data-target="#fund-modal"').click();
		$('.contribution-field').val('<%= perk.get('cost') %>')
	})
</script>